.Sort {
    position: relative;
}
.SortItem {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}